{% extends 'base.html' %}
{% block content %}
<div class="text-center">
    <img src="https://media.licdn.com/dms/image/D5603AQFQwQwQwQwQwQ/profile-displayphoto-shrink_800_800/0/1660000000000?e=2147483647&v=beta&t=placeholder" class="rounded-circle mb-4" alt="Adila Zahra Faradisa" width="160" height="160">
    <h1 class="fw-bold" style="color: #a64ca6;">Adila Zahra Faradisa</h1>
    <p class="lead" style="color: #d291bc;">Data Enthusiast | Software Developer</p>
    <p class="mt-4">Welcome to my personal portfolio website!<br>Explore my experience, projects, and more below.</p>
    <a href="/about" class="btn btn-lg" style="background: #f8e1f4; color: #a64ca6;">Learn More About Me</a>
</div>
{% endblock %}
